.listTableContainer{
    margin-top: 1rem !important;
    height: calc(100vh - 13rem) !important;
    width: auto !important;
    overflow-y: auto;
     border: 1px solid #c4c4c4
}

.tableview  .MuiTableCell-head{
    color: #000000DE !important;
    text-wrap: nowrap !important;
    font-family: Roboto,sans-serif;
    font-size: 12px ;
   
}
.MuiDataGrid-root {
    height: 100% !important;
  }
  
  .MuiDataGrid-columnHeaders {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
    background-color: #f8f7f7 !important;
  }
.tableview {
    margin-top: 0rem !important;
    
}
.tableview .MuiTableCell-root{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: Roboto,sans-serif;
}
.MuiDataGrid-row {
    pointer-events: auto;
  }

/* Force all action icons in DataGrid to 16px */
.MuiDataGrid-root .MuiIconButton-root svg {
  width: 16px !important;
  height: 16px !important;
}

.sync-now-btn.MuiButton-root {
  font-size: 12px !important;  /* 0.75rem */
  line-height: 1.2;            
}










