.matchlist-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}
.unMatchButton{
    margin: 0;
}
.unMatchButton .btn-match{
    background-color: #FFEDEB;
    border-radius: 5px;
    color: #B71C1C;
}
.match-fun-btn{
    background-color: #EAE9FF !important;
    color:#3026B9 !important;
}
.btn-preview{
    background-color: #EAE9FF !important;
    margin: 0;
    color:#3026B9 !important;
}

.search-label{
    white-space: nowrap;      
}