.adminConsole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.5rem 1.5rem 0rem 1.5rem; */
  /* position: sticky;
    top:0rem; */
}

.btn-save {
  padding: 0.5rem 1.5rem;
  color: white;
  border: none;
  background-color: #B50031;
}

.grid-item-flex-item {
  padding-left: 0rem !important;
  gap: 1rem;

  display: flex;
}

.admin-Console-header .Mui-selected {
  color: #703e97 !important;
}

.admin-Console-header .MuiTabs-indicator {
  background-color: #703e97;
}

.Label-wide {
  padding: 0vh 0.5vw;
  font-weight: 540;
}

.adminConsoleContainer {

  margin-top: 10px;
  /* padding: 1% 1%; */
  background: #FFFFFF;
  /* box-shadow: 1px 1px 10px 1px grey; */
  
}
.adminConsoleContainerSchedulerSettings {
width: 100%;
  padding: 2% 2%;
  background: #FAFAFA;
  border: 1px solid #DEDEDE;
  row-gap: 20px;

  
  
}
.adminSchedulerInpWrapper{
  display: flex;
  justify-content: space-between;
}
.schedulerAddSalesOrgWrapper{
  display: flex;
  justify-content: end;
}
.schedulerSettingInputs .MuiInputBase-input {
  height: .5rem !important;
  width: 300px !important;
}
.select-option .MuiInputBase-root {
  width: 180px !important;
}

.adminConsoleContainerManualReview{
  width: 100%;
  margin-top: 10px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.salesOrgParentContainer {
  height: 7rem;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  width: 100%;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}
/* .MuiGrid-root {
  width: 100%; 
} */

.label-select {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the start */
  white-space: nowrap; /* Prevent text wrapping */
}






.flex-box-manualReview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
}
.flex-box-manualReview .MuiInputBase-root{
  background-color: #FFFFFF;
  height: 40px;
  width: 100%;
}
.middle-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global-manual-review-wrapper{
  display: flex;
  align-items: center;
  gap:1rem;
}
.global-manual-review{
  font-size: 14px;
  font-weight: 500;
}
.global-manual-review .MuiSwitch-root{
  background-color: black;
}
.add-distribution-button{
  display: flex;
  justify-content: end;
}
/* .add-distribution-button{

} */
.select-option .MuiInputBase-root {
  width: 30vw;
}

.select-option .MuiSelect-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #757575;
}

.select-option .MuiTypography-root {
  color: #757575;
}

.select-option-active-material .MuiAutocomplete-root {
  width: 70% !important;
}

.flex-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.flex-box .MuiGrid-container {
  padding-top: 8vh;
}

/* .btn-addNewMarket{
   
} */
.addNewMarket-btn {
  margin: 0rem 2rem;
  /* margin-bottom: 1rem; */
  justify-content: flex-end;
  display: flex;
}

.addNewMarket-btn .MuiButtonBase-root {
  border: 2px solid #703e97;
  font-size: 1rem;
  color: #703e97;
  background-color: white;
  font-size: 1.3rem;

  padding: 0.5rem 1.5rem;
  font-weight: 800;
  /* border-radius: 8px; */
}

.addNewMarket-btn .MuiButtonBase-root:disabled {
  border: 2px solid #703e97;
  font-size: 1rem;
  color: #703e97;
  background-color: white;
  font-size: 1.3rem;

  padding: 0.5rem 1.5rem;
  font-weight: 800;
  /* border-radius: 8px; */
}

.buttonsHeader {
  display: flex;
  justify-content: flex-end;

}

.select-option {
  gap: 1.5rem;
}

/* input[type='file'] {
    opacity:0    
  } */

input[type="file"] {
  width: 180px;
  /* border: 2px solid red; */
  /* opacity: 0; */
}

/* #file-input {
  display: none;
} */
input[type="file"] {
  color: transparent;
  /* width: 0px !important; */
}

.action-btn {
  text-transform: none !important;
}

.file-uploader {
  width: 15%;
  background-color: transparent;
  border: 1px solid rgb(117, 117, 117);
  color: rgb(117, 117, 117);
  cursor: pointer;
  display: flex;
}

.upload-btn {}



.sales-org {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.toggle-button {
  display: flex;
  gap: 1rem;
  padding: 0rem 1rem;
}

.manualReview-table .MuiTableCell-stickyHeader {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: black;
}

.manualReview-table {
  margin: 1.4rem 0rem !important;
}

.manualReview-table .MuiOutlinedInput-root {
  width: 16rem !important;
  height: 2.5rem !important;
}

.btn-groups {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.upload-btn:disabled {
  background: #703E97 !important;
  color: white !important;
}

.upload-btn-active-list {
  background: #703E97;
  color: white;
  border: white;
  display: flex;
  align-items: center;
}

.schedulerTable .MuiTableHead-root {
  color: black !important;
  text-wrap: nowrap !important;
}